.heading-h6 {
  font-size: 1rem;
  font-weight: bold;
}

.why img {
  max-width: 100%;
  height: auto;
}
.why span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.why .section-head {
  margin-bottom: 60px;
}
.why .section-head h4 {
  position: relative;
  color: #ff007b;
  text-align: center;
  margin-bottom: 30px;
}
.why .section-head h4:before {
  content: "";
  width: 60px;
  height: 3px;
  background: #ff007b;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.why .section-head h4 span {
  color: #2f2f2f;
}

.why .section-head p,
p.awesome_line {
  color: #818181;
  width: 100%;
}

.why .item {
  background: #fff;
  text-align: center;
  padding: 30px 20px;
  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.why .item:hover {
  background: #ff007b;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.why .item:hover .item,
.item:hover span.icon {
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.why .item:hover h6,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.why .item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #ff007b;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.why .item > span {
  color: #ff007b;
}
.why .item .feature_box_col_one {
  background: rgba(247, 198, 5, 0.2);
}
.why .item .feature_box_col_two {
  background: rgba(255, 77, 28, 0.15);
}
.why .item .feature_box_col_three {
  background: rgba(0, 147, 38, 0.15);
}
.why .item .feature_box_col_four {
  background: rgba(0, 108, 255, 0.15);
}
.why .item .feature_box_col_five {
  background: rgba(146, 39, 255, 0.15);
}
.why .item .feature_box_col_six {
  background: rgba(23, 39, 246, 0.15);
}
.why .item p {
  font-size: 15px;
  line-height: 26px;
}
.why .item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
