.services-2 {
  background-image: url(../images/pexels-andrea-piacquadio-3760093.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9% 5%;
  position: relative;
  z-index: 0;
}

.services-2::before {
  content: "";
  /* background-color: #08112772; */
  background-color: #091022aa;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.grid-6 {
  /* width:100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 10rem));
  justify-content: center;
  gap: 15px;
}

.serve {
  width: 90%;
  border: 1px solid #ccc;
  transition: all 0.3s;
  z-index: 1;
}
.serve:hover {
  background-color: #080f20ba;
  border-color: rgba(255, 255, 255, 0.393);
}
.service-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}
.service-box h5 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.serve .service-icon {
  font-size: 2.6rem;
}

.services-2 .section-head {
  margin-bottom: 70px;
  z-index: 1;
}
